* {
  font-family: "Times New Roman", Times, serif;
  color: black;
}

body {
  height: 100vh;
  background-image: url(/Image/Background.png);
  background-repeat: no-repeat;
  background-position: contain;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  body {
    background-image: url(/Image/background2.png);
    background-repeat: no-repeat;
    background-position: contain;
    background-size: cover;
    background-attachment: fixed;
  }
}

form {
  height: 350px;
  width: 300px;
  background-color: transparent;
  backdrop-filter: blur(5px);
  border: 1px solid white;
  border-radius: 10px;
  animation: 1.5s ease-in-out anim-form;
  animation-iteration-count: 1;
}

@media (max-width: 300px)
{
  form{
    height: 350px;
    width: 200px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: 1px solid white;
    border-radius: 10px;
    animation: 1.5s ease-in-out anim-form;
    animation-iteration-count: 1;
  }
}

@keyframes anim-form {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

pre {
  color: black;
  font-weight: bolder;
  font-size: 20px;
  font-family: "Segoe UI", Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.inputbox1 {
  display: inline-block;
  margin: 0px 20px 10px 20px;
}
.inputbox2 {
  display: inline-block;
  margin: 10px 20px 0px 20px;
}

.Email {
  width: 250px;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
}

@media (max-width: 300px)
{
  .Email {
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
  }
}

.Password {
  width: 250px;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
}

@media (max-width: 300px)
{
  .Password {
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
  }
}

@media (max-width: 300px)
{
  .rememberMe{
    font-size: 5px;
  }
}

.forget {
  margin: 25px 20px 0px 20px;
}

@media (max-width: 300px)
{
  .forget {
    font-size: 10px;
    margin: 10px 12px 0px 12px;
  }
}

#forgetpassword {
  color: black;
  text-decoration: none;
  margin: 0px 0px 0px 15px;
}

button {
  width: 250px;
  height: 33px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: rgb(5, 210, 5);
  margin: 20px 20px 0px 20px;
}

@media (max-width: 300px)
{
  button {
    width: 150px;
    height: 33px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgb(5, 210, 5);
    margin: 20px 20px 0px 20px;
  }
}



button:hover {
  cursor: pointer;
}

p {
  color: white;
  text-align: center;
}

@media (max-width: 300px)
{
  p{
    color: white;
    font-size: 10px;
    text-align: left;
    margin: 25px 12px 0px 0px;
  }
}

.register {
  display: flex;
  justify-content: center;
}

a {
  color: black;
  font-weight: 800;
}
